<h1>The Grad List</h1>

<% if user_signed_in? %>
  <p><%= current_user.email %></p>

  <% current_user.items.each do |item| %>
    <p>i <%= item.content %></p>
  <% end %>

  <p><a href='new_item'>New Item</a></p>
<% end %>