// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 600px;
  border: 1px solid black;
  background-color: white;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.information {
  margin-bottom: 80px;
}